*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #191919;
  color: #ddd;
  font-family: 'IBM Plex Sans', -apple-system, sans-serif;
  overflow: hidden;
}

button {
  font-family: inherit;
}

a {
  color: #7BA4DB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
